:root {
    --background-color: grey;

    font-family: 'Courier New', monospace;
}

* {
    outline: 1px solid black; /** for debugging */
}

.context-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
}